@media (max-width: 1799.98px) {

    .footer-text {
        font-size: 18px;
    }
}

@media (max-width: 1399.98px) {
    .home-content-wrapper{
        margin-top: 0px;
    }

    .home-content-logo{
        width: 130px;
    }

    .home-header-title{
        font-size: 55px;
        line-height: 68px;
    }

    .home-header-desc{
        font-size: 22px;
        margin-top: 10px;
    }


    .section-title {
        font-size: 40px;
    }

    .sub-title {
        font-size: 24px;
        line-height: 29px;
    }

    .sub-title.sub-title-why{
        font-size: 28px;
    }

    .section-desc{
        font-size: 14px;
        line-height: 18px;
    }

    .btn.btn-primary{
        background-color: var(--primary-color);
        font-size: 30px;
    }

    .welcome-card{
        padding: 50px;
    }

    .welcome-card-title,
    .home-access-title{
        font-size: 50px;
    }

    .privacy-access-title{
        font-size: 25px;
    }

    .welcome-card-desc,
    .home-access-desc{
        font-size: 18px;
    }

    .welcome-card-desc:last-child{
        margin-bottom: 80px;
    }

    .footer-text {
        font-size: 14px;
    }
    .feature-text,
    .platform-single-desc{
        font-size: 25px;
    }



}

@media (max-width: 1199.98px) {
    .home-header-title{
        font-size: 35px;
        line-height: 45px;
        max-width: 900px;
    }

    .home-header-desc{
        font-size: 18px;
        max-width: 700px;
    }


    .section-title {
        font-size: 35px;
    }

    .sub-title {
        font-size: 20px;
        line-height: 25px;
    }

    .sub-title.sub-title-why{
        font-size: 14px;
        min-height: unset;
    }

    .btn.btn-primary{
        background-color: var(--primary-color);
        font-size:27px;
    }

    .home-content-wrapper{
        margin-top: 30px;
    }

    .welcome-card{
        padding: 50px;
    }

    .welcome-card-title,
    .home-access-title{
        font-size: 47px;
    }

    .privacy-access-title{
        font-size: 22px;
    }

    .welcome-card-desc,
    .home-access-desc{
        font-size: 17px;
    }

    .welcome-card-desc:last-child{
        margin-bottom: 70px;
    }

    .footer-menu-wrap{
        justify-content: center;
    }

    .contact-subtitle{
        font-size: 30px;
    }
    .feature-text,
    .platform-single-desc{
        font-size: 22px;
    }


    .platform-single-title{
        font-size: 32px;
    }



}

@media (max-width: 991.98px) {

    .navbar.navbar-cs:not(.fixed-nav) .navbar-collapse{
        background-color: #FFFFFF3D;
    }

    .navbar-collapse .navbar-nav li{
        border-bottom: 1px solid #FFFFFF80;
        width: 100%;
    }

    .navbar-collapse .navbar-nav{
        margin-bottom: 0 !important;
    }

    .navbar-cs .nav-item .nav-link:hover::after{
        display: none;
    }

    .navbar-cs .nav-item .nav-link{
        font-weight: 500 !important;
        font-size: 13px;
        line-height: 17.55px;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: end;
        display: flex;
        padding-right: 30px;
    }

    .navbar-cs .nav-item .nav-link span{
        min-width: 60px;
        align-items: start;
        display: flex;
    }

    .container-fluid.nav-container{
        padding: 0;
    }

    .container-fluid.nav-container .navbar-cs > .container-fluid{
        padding: 0;
    }

    .container-fluid.nav-container .navbar-cs > .container-fluid .navbar-brand{
        margin-left: .75rem;
    }

    .container-fluid.nav-container .navbar-cs > .container-fluid .navbar-toggler{
        margin-right: .75rem;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .home-header-title{
        font-size: 32px;
        line-height: 40px;
        max-width: 700px;
    }

    .home-header-desc{
        font-size: 17px;
        max-width: 600px;
    }


    .section-title {
        font-size: 32px;
    }

    .sub-title {
        font-size: 18px;
        line-height: 22px;
    }

    .sub-title.sub-title-why{
        font-size: 20px;
    }

    .client-sub-title{
        font-size: 20px;
        line-height: 29px;
    }

    .section-subtitle{
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 10px;
        width: 100%;
        display: block;
    }

    .btn.btn-primary{
        background-color: var(--primary-color);
        font-size:25px;
    }
    .home-content-logo{
        width: 120px;
    }

    .welcome-card{
        padding: 50px;
    }

    .welcome-card-title,
    .home-access-title{
        font-size: 47px;
    }

    .privacy-access-title{
        font-size: 22px;
    }

    .welcome-card-desc,
    .home-access-desc{
        font-size: 17px;
    }

    .welcome-card-desc:last-child{
        margin-bottom: 70px;
    }

    .short-mv-subtitle{
        font-size: 25px;
    }
    .navbar-cs .nav-item .nav-link {
        text-align: center;
        margin-bottom: 3px;
    }

    .contact-subtitle{
        font-size: 28px;
    }

    .platform-single-title{
        font-size: 30px;
    }

    .feature-01::before,
    .feature-02::before,
    .feature-03::before,
    .feature-04::before,
    .feature-05::before{
        width: 50px;
        height: 50px;
        top: -7px;
        right: -7px;
        font-size: 24px;
        line-height: 50px;
    }

    .swiper-wrapper-cs{
        flex-direction: unset;
    }

    .swiper-wrapper-cs .swiper-slide{
        width: calc(33% - 10px) !important;
        height: unset !important;
    }


    .navbar-cs .navbar-brand img{
        height: 45px;
        width: 48.52px;
    }

    .nav-container{
        background-color: transparent;
    }

    .fixed-nav{

    }

    .navbar-cs .nav-item .nav-link{
        margin-left: 0;
    }

    .dropbtn{
        margin-left: 0;
        margin-top: 10px;
    }

    .swiper-button-next.swiper-button-next-thumbs::after{
        font-size: 25px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.32);
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        border-radius: 16px;
    }

    .swiper-button-prev.swiper-button-prev-thumbs::after{
        font-size: 25px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.32);
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        border-radius: 16px;
    }

    .exp-image-wrapper-1{
        min-height: 200px;
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 768px) {
    .welcome-card-title, .home-access-title {
        font-size: 30px;
    }
    .welcome-card-desc, .home-access-desc {
        font-size: 16px;
    }

    .short-mv-subtitle{
        font-size: 22px;
    }

    .home-content-logo{
        width: 120px;
    }
    .home-header-title{
        font-size: 30px;
        line-height: 38px;
    }

    .home-header-desc{
        font-size: 16px;
    }

    .sub-title {
        font-size: 16px;
        line-height: 21px;
    }


    .section-title {
        font-size: 30px;
    }


    .sub-title.sub-title-why{
        font-size: 17px;
        min-height: unset;
    }

    .client-sub-title{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 12px;
    }

    .complex-sub-title{
        font-size: 16px;
        line-height: 22px;
    }

    .product-name{
        font-size: 16px;
        line-height: 21px;
    }

    .slider-title{
        font-size: 24px;
    }

    .contact-title{
        font-size: 24px;
    }

    .section-subtitle{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
        width: 100%;
        display: block;
    }

    .btn.btn-primary{
        background-color: var(--primary-color);
        font-size:22px;
    }

    .home-footer-main-text{
        font-size: 28px;
    }

    .core-image-wrapper{
        padding: 30px;
    }

    .top-right-corner,
    .bottom-left-corner,
    .bottom-right-corner,
    .top-left-corner{
        width: 50px;
        height: 50px;
    }

    .contact-subtitle{
        font-size: 25px;
    }

    .feature-text,
    .platform-single-desc{
        font-size: 20px;
    }
    .platform-single-title{
        font-size: 25px;
    }

    .home-header{
        height: unset !important;
    }

    .right-blur-effect,
    .left-blur-effect{
        display: none;
    }

    .short-move-card-inner{
        padding: 70px 30px;

    }

    .privacy-access-title{
        font-size: 20px;
    }
    .btn.btn-primary{
        font-size:16px;
        padding: 10px 15px;
    }
    .footer-text{
        font-size: 13px;
    }
    .platform-single-card{
        padding: 20px;
    }

    .modal-form-title{
        font-size: 24px;
    }

    .brand-image-group{
        margin-left: -15px;
    }

    .product-image-wrapper{
        height: 250px;
    }

    .exp-image-wrapper-3,
    .exp-image-wrapper-2{
        min-height: 200px;
    }


}

@media only screen and (max-width: 576px) {
    .home-content-wrapper{
        margin-top: 0px;
    }

    .mySwiper .swiper-wrapper.swiper-wrapper-cs{
        display: flex;
        flex-wrap: wrap;

    }


    .swiper-button-next.swiper-button-next-thumbs,
    .swiper-button-prev.swiper-button-prev-thumbs{
        display: none;
    }

    .form-control-cs-email{
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .contact-btn.contact-btn-2{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .complex-sub-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        color: #ffffff;
    }

    .read-more-text.hide{
        display: none;
    }

    #read-more-btn{
        display: inline-block;
    }

    .swiper-wrapper-cs .swiper-slide {
        width: calc(50% - 10px) !important;
        height: 147px !important;
        margin-bottom: 10px;
    }

    .product-image-wrapper{
        height: 99px;
    }

    .brand-image-group{
        margin-left: -10px;
    }

    .industrial-complex{
        border-radius: 20px 20px 0 0;
    }

    .welcome-card{
        padding: 20px;
        border-radius: 20px;
    }
    .navbar-cs .navbar-brand img{
        height: 45px;
        width: 48.52px;
    }
    .section{
        padding: 40px 0;
    }

    .home-footer-btn{
        margin-bottom: 50px;
    }

    .form-control, .form-select{
        font-size: 14px;
    }


    .modal-form-title{
        font-size: 20px;
    }

    .home-content-logo{
        width: 100px;
    }

    .home-header-title{
        font-size: 24px;
        line-height: 26px;
    }

    .home-header-desc{
        max-width: 272px;
    }

    .sub-title {
        font-size: 12px;
        line-height: 15px;
    }

    .sub-title.sub-title-why{
        font-size: 16px;
        font-weight: 500 !important;
    }

    .client-sub-title{
        font-size: 16px;
        line-height: 22px;
    }

    .section-subtitle{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
        width: 100%;
        display: block;
    }

    .section-title {
        font-size: 24px;
    }

    .home-header-desc{
        font-size: 12px;
    }

    .platform-image-div h3{
        font-size: 18px;
    }

    .platform-image-div{
        width: 70%;
    }

    .btn.btn-primary{
        font-size:13px;
        padding: 10px 15px;
    }

    .short-move-card-inner{
        padding: 50px 25px;

    }

    .welcome-card-title,
    .home-access-title{
        font-size: 22px;
    }

    .privacy-access-title{
        font-size: 16px;
    }

    .welcome-card-desc,
    .home-access-desc{
        font-size: 12px;
    }

    .welcome-card-desc:last-child{
        margin-bottom: 50px;
    }

    .short-mv-subtitle{
        font-size: 20px;
    }

    .contact-subtitle{
        font-size: 24px;
        margin-bottom: 30px;
    }


    .contact-submit-btn,
    .feature-end-card{
        padding-bottom: 40px;
    }
    .feature-text,
    .platform-single-desc{
        font-size: 14px;
    }

    .platform-single-title{
        font-size: 17px;
    }

    .platform-single-card:last-child{
        margin-bottom: 40px;
    }

    .home-footer-main-text{
        font-size: 20px;
    }
    .footer-text{
        font-size: 12px;
    }

    .top-right-corner,
    .bottom-left-corner,
    .bottom-right-corner,
    .top-left-corner{
        width: 40px;
        height: 40px;
    }


}

@media (min-width: 1600px) {
    .why-us-grid{
        padding-right: 60px;
    }
}

@media (min-width: 1200px) {
    .navbar-cs > .container-fluid{
        padding: 0 25px;
    }
}

@media (min-width: 992px) {
    .swiper-button-next.swiper-button-next-thumbs{
        bottom: 0;
        top: unset;
        width: 100%;
        height: 140px;
        left: 0;
        background-color: rgba(6, 6, 6, 0.79);
    }

    .mySwiper .swiper-button-prev.swiper-button-prev-thumbs,
    .mySwiper  .swiper-button-next.swiper-button-next-thumbs{
        display: none;
    }

    .mySwiper:hover .swiper-button-prev.swiper-button-prev-thumbs,
    .mySwiper:hover  .swiper-button-next.swiper-button-next-thumbs{
        display: flex;
    }

    .swiper-button-next.swiper-button-next-thumbs::after{
        font-size: 25px;
        text-align: center;
        rotate: 90deg;
        background-color: rgba(255, 255, 255, 0.32);
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        border-radius: 16px;
    }

    .swiper-button-prev.swiper-button-prev-thumbs{
        bottom: unset;
        top: 0;
        width: 100%;
        height: 140px;
        left: 0;
        background-color: rgba(6, 6, 6, 0.79);
    }

    .swiper-button-prev.swiper-button-prev-thumbs::after{
        font-size: 25px;
        text-align: center;
        rotate: 90deg;
        background-color: rgba(255, 255, 255, 0.32);
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        border-radius: 16px;
    }

    .swiper-button-prev.swiper-button-prev-thumbs.swiper-button-disabled,
    .swiper-button-next.swiper-button-next-thumbs.swiper-button-disabled{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-cs .nav-item .nav-link{
        margin-left: 20px;
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width: 992px) {


    .dropbtn{
        min-width: 160px;
        justify-content: center;
    }
}



